@tailwind base;
@tailwind components;
@tailwind utilities;

.contenedor{
    @apply  max-w-md bg-white 
            border border-gray-200 rounded-2xl dark:border-slate-700
            shadow-md 
            dark:bg-gray-800
            transform  duration-700
            hover:scale-105 lg:m-4
}

.textoTitulo{
            
    @apply  mb-2 text-xl 
            md:text-2xl 
            lg:text-3xl 
            font-bold 
            tracking-tight
          text-verde
          dark:text-white
          dark:hover:text-moradoOscuro
          hover:text-moradoOscuro duration-300
}
.texto{
    @apply  mb-2 
            lg:text-lg
          text-gray-400
          dark:text-white
}